.solutionCard {
  width: 50vw;
  height: 100%;
  flex-shrink: 0;

  &--purple {
    background-color: #c189ff;
    & button:hover {
      background-color: #000;
      color: #c189ff;
    }
  }
  &--teal {
    background-color: #18e1f3;
    & button:hover {
      background-color: #000;
      color: #18e1f3;
    }
  }
  &--green {
    background-color: #2ee76f;
    & button:hover {
      background-color: #000;
      color: #2ee76f;
    }
  }
  &--orange {
    background-color: #fa9b26;
    & button:hover {
      background-color: #000;
      color: #fa9b26;
    }
  }
}
.cardTop {
  color: black;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 378px;
  width: 50vw;

  & h3 {
    margin-bottom: 20px;
  }

  & .btnContainer {
    display: flex;
    margin-top: 30px;
    gap: 20px;
  }
}
.cardBottom {
  width: 100%;

  & img {
    width: 100%;
  }
}
