.solutionContainer {
  padding-top: 150px;
  & .solutionTextContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    margin-bottom: 180px;
    & .solutionText {
      color: white;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 3px 10px;
      width: 55%;

      & p {
        text-transform: uppercase;
      }
    }
  }
  & .solutionCardsContainer {
    height: 400vh;
    position: relative;
    & .check {
      position: sticky;
      top: 0;
      overflow: hidden;
      height: 100vh;
    }

    & .solutionCards {
      display: flex;
      width: 200vw;
    }
  }
  @media (max-width: 599px) {
    padding-top: 20px;
    & .solutionTextContainer {
      justify-content: flex-start;
      padding-right: 0px;
      padding: 20px;
      margin-bottom: 40px;
      & .solutionText {
        width: 100%;
      }
    }
    & .solutionCardsContainer {
      height: 800vh;
      position: relative;
      & .check {
        position: sticky;
        top: 0;
        overflow: hidden;
        height: 100vh;
      }
  
      & .solutionCards {
        display: flex;
        width: 200vw;
      }
    }
  }
}
