.solutionContainer {
  & .solutionTextContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    & .solutionText {
      color: white;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 3px 10px;
      width: 55%;

      & p {
        text-transform: uppercase;
      }
    }
  }
  & .solutionCards {
    display: flex;
    margin-top: 50px;
    overflow: scroll;
  }
}
