.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: black;
  height: 10vh;
  padding: 0 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  transition: all .5s ease-in-out;
  z-index: 99;
  & .logo {
    flex: 2;
  }
  .navList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    & ul {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  & a {
    color: white;
  }
  & .btnContainer {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    & .btn {
      width: 40%;
    }
  }
}
