.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: black;
  height: 10vh;
  padding: 0 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 99;
  & .logo {
    flex: 2;
  }
  .navList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    & ul {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  & a {
    color: white;
  }
  & .btnContainer {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    & .btn {
      width: 40%;
    }
  }

  & .menu {
    display: none;
  }
  @media (max-width: 599px) {
    padding-left: 20px;
    padding-right: 20px;
    .logo {
      display: inline-block;

      & svg {
        width: 100px;
        height: auto;
      }
    }
    .navList {
      display: none;
    }
    .btnContainer {
      display: none;
    }
    & .menu {
      display: block;
      cursor: pointer;
      background-color: #efefef61;
      padding: 10px 13px;
      border-radius: 10px;
      position: fixed;
      right: 50px;
      z-index: 100;
    }
  }
}
